@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0f1117;
  color: #e5e7eb;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2d3140;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}


input[type="color"].status-color-dot {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  cursor: pointer;
}
input[type="color"].status-color-dot::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 9999px;
}
input[type="color"].status-color-dot::-webkit-color-swatch {
  border: none;
  border-radius: 9999px;
}
